#topMenu {
  border-bottom: 2px solid #555;
}
#topMenu ul {
  padding: 10px;
  background: #00336F;
}

#topMenu li {
  display: inline;
  color: #fff;
}
#topMenu li a{
  color: #fff;
  font-weight: bold;
}
