#header {
  background-color: #FCFEFC;
  position: relative;
  height: 101px;
}

#header #logo {
  position: absolute;
  color: #fff;
  font-size: 3em;
  font-weight: bold;
  border: none;
  vertical-align: top;
}

#header a:link, #header a:visited {
  color: #00336F;
  text-decoration: none;
}

#header a:hover, #header a:active {
  color: #0D6DDF;
  text-decoration: none;
}