#breadcrumbs {
  padding: 5px 10px;
  font-weight: bold;
  border-bottom: 1px dotted #c9c9c9;
  background: #f6f6f6;
}

.breadcrumbs a:link, .breadcrumbs a:visited {
  color: #EC7D0B;
}
.breadcrumbs a:hover, .breadcrumbs a:active {
  color: #FCBC20;
  text-decoration: none;
}
