#pageContent {
  border: 1px solid #e9e9e9;
  min-height: 200px;
  margin: 5px 0;
  padding: 5px;
}

#pageFooter {
  color: #999;
  font-size: 80%;
}

#pageContent a.unlinked:link, #pageContent a.unlinked:visited {
  color: red;
  text-decoration: none;
  border-bottom: 1px dotted red;
}

#pageContent a.unlinked:hover, #pageContent a.unlinked:active {
  color: red;
  text-decoration: none;
  border-bottom: 1px solid red;
}

#editContent {
  margin: 10px 5px;
}